FLASK_ENV=development
SECRET_KEY=dev-secret
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=intelligent_recommendation
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB_NAME=intelligent_recommendation
